.form-label {
    background-color:cornflowerblue;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.form-control {
    border: 2px solid dodgerblue;
    border-radius: .85rem;
    background-color: #fcffd9;
}

.sidebar {
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(121,9,9,1) 100%, rgba(255,244,0,1) 100%) !important;
}

.nav-item a:hover {
    background-color: rgb(241,241,241);
    background-color: linear-gradient(90deg, rgba(241,241,241,1) 49%, rgba(121,9,9,1) 84%);
    border-radius: .85rem;
}

